<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-full h-full bg-zinc-900">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ut porro eaque iste eos distinctio, libero possimus. Quos, et hic, dolorem culpa illo deleniti quidem, suscipit consequatur qui blanditiis corrupti?</p>
    </div>
</body>
</html>